html {
  background-color: $white;
  scroll-behavior: smooth;
}

.container-max {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 99px;
  background: radial-gradient(50% 50% at 0% 100%,
      rgba(184, 125, 88, 0.8) 0%,
      rgba(184, 125, 88, 0) 100%),
    radial-gradient(50% 50% at 100% 0%,
      rgba(58, 95, 86, 0.55) 0%,
      rgba(58, 95, 86, 0) 100%);
}

.container {
  width: 1168px;
  margin: 0 auto;
}

.btn {
  background-color: $main_color;
  border-radius: 6px;
  padding: 13px 19px;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $brown_color;
  }

  &__img {
    height: 17px;
    width: 17px;
    margin-right: 8px;
  }

  &__number {
    display: inline-block;
    width: 19px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: $main_color;
    margin-left: 8px;
  }
}

.header {
  padding: 10px 0;

  &__menu {
    display: flex;
    align-items: center;
    height: 50px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__item {
    &:last-child {
      margin-right: 30px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 16px;
    color: $main_color;
    padding: 8px 10px 8px 12px;

    &:hover {
      color: $brown_color;
    }
  }
}

//////////////////////////
.about {
  background-color: $light_color;

  &__me {
    min-height: 298px;
    max-width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__wrapper {
    display: flex;
    min-height: 773px;
    justify-content: space-between;
  }

  &__title {
    font-family: "SourceSerifPro";
    font-size: 48px;
    line-height: 58px;
    color: $main_color;
    margin-bottom: 11px;
  }

  &__text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 22px;
    color: $black_color;
    margin-bottom: 17px;
  }

  &__img {
    height: 773px;
    width: 552px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 24px;

    img {
      object-position: -14px -10px;
    }
  }
}

//////////////////////////
.footer {
  padding: 100px 0;
  background-color: $black_color;
  width: 1440px;
  margin: 0 auto;

  &__logo {
    text-align: center;
    margin-bottom: 75px;
  }

  &__wrapper {
    display: flex;
  }

  &__column1,
  &__column2,
  &__column3 {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 16px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $brown_color;
    margin-bottom: 9px;

    &--mini {
      margin-bottom: 2px;
    }
  }

  &__list {
    margin-bottom: 15px;

    &--mini {
      margin-bottom: 0px;
    }
  }

  &__item {
    margin-bottom: 12px;

    a {
      color: $white;
      font-size: 16px;
      line-height: 22px;

      &:hover {
        text-decoration: underline solid $brown_color;
      }
    }
  }

  &__column4 {
    width: 458px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__text {
    width: 404px;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    margin-bottom: 6px;

    &--down {
      width: auto;
    }
  }

  &__form {
    position: relative;
    width: 100%;
  }

  &__email {
    background: #f9fafb;
    border: 5px solid #e5e7eb;
    border-radius: 8px;
    width: 100%;
    padding: 12px 120px 14px 25px;
    font-size: 16px;
    line-height: 22px;
    color: #ababab;

    &:focus {
      border: 5px solid $brown_color;
    }
  }

  &__submit {
    font-size: 16px;
    line-height: 22px;
    color: #fafafc;
    background-color: $black_color;
    border-radius: 10px;
    padding: 8px 10px 8px;
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover {
      background-color: $brown_color;
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.social {
  &__link {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    :hover {
      filter: invert(62%) sepia(28%) saturate(719%) hue-rotate(340deg) brightness(81%) contrast(86%);
    }
  }

  &__img {
    width: 24px;
    height: 24px;
  }
}