html {
  background-color: $white;
  scroll-behavior: smooth;
}

.container-max {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 99px;
  background: radial-gradient(50% 50% at 0% 100%,
      rgba(184, 125, 88, 0.8) 0%,
      rgba(184, 125, 88, 0) 100%),
    radial-gradient(50% 50% at 100% 0%,
      rgba(58, 95, 86, 0.55) 0%,
      rgba(58, 95, 86, 0) 100%);
}

.container {
  width: 1168px;
  margin: 0 auto;
}

.btn {
  background-color: $main_color;
  border-radius: 6px;
  padding: 13px 19px;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $brown_color;
  }

  &__img {
    height: 17px;
    width: 17px;
    margin-right: 8px;
  }

  &__number {
    display: inline-block;
    width: 19px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: $main_color;
    margin-left: 8px;
  }
}

.header {
  width: 1440px;
  margin: 0 auto;
  padding: 10px 0;

  &__menu {
    display: flex;
    align-items: center;
    height: 50px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__item {
    &:last-child {
      margin-right: 30px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 16px;
    color: $main_color;
    padding: 8px 10px 8px 12px;

    &:hover {
      color: $brown_color;
    }
  }
}

//////////////////////////
.about {
  width: 1440px;
  margin: 0 auto;
  background-color: $light_color;

  &__me {
    min-height: 298px;
    max-width: 532px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__wrapper {
    display: flex;
    min-height: 773px;
    justify-content: space-between;
  }

  &__title {
    font-family: "SourceSerifPro";
    font-size: 48px;
    line-height: 58px;
    color: $main_color;
    margin-bottom: 11px;
  }

  &__text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 22px;
    color: $black_color;
    margin-bottom: 17px;
  }

  &__img {
    height: 773px;
    width: 552px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 24px;

    img {
      object-position: -14px -10px;
    }
  }
}

.section {

  &__header {
    margin-top: 100px;
    text-align: center;
  }

  &__header-title {
    margin-top: 15px;
    @extend %fontPro;
    font-size: 32px;
    color: $main_color;
    line-height: 38px;
  }

  &__header-subtitle {
    margin-top: 11px;
    line-height: 22px;
    @extend %fontRoboto;
    font-size: 16px;
    color: #292C32;


  }

  &__department {
    height: 943px;
    margin-top: 40px;
  }

  &__department-row {
    display: flex;
    flex-wrap: wrap;

  }
}

.container-max-section {
  height: 1220px;
  width: 1440px;
  margin: 0 auto;
  background: radial-gradient(50% 50% at -5% 105%, rgba(58, 95, 86, 0.376) 0%, rgba(58, 95, 86, 0) 100%);

}

.icon {
  margin: 12px 12px;
}

.item-column {
  width: 370px;
  height: 304px;
  margin: 8px 8px 8px 8px;
  background: #F4F3F0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 16px;

  &__icon {
    margin: 30px 0 0 29px;
    height: 48px;
    width: 48px;
    background: rgba(58, 95, 86, 0.1);
    border-radius: 24px;
  }

  &__title {
    margin: 9px 0 0 29px;
    @extend %fontPro;
    font-size: 24px;
    line-height: 29px;
    color: #3A5F56;
  }

  &__text {
    margin: 6px 40px 0 29px;
    @extend %fontRoboto;
    font-size: 16px;
    line-height: 22px;
    color: #292C32;
  }

  &__link {
    margin: 17.50px 0 0 29px;
    @extend %fontRoboto;
    font-size: 17px;
    line-height: 24px;
    color: #3A5F56;

    & a {
      color: #3A5F56;
    }

    &::after {
      overflow: hidden;
      position: absolute;
      display: inline-flex;
      background: url(../img/icon/Arrow.png) no-repeat;
      content: '';
      width: 20px;
      height: 11px;
      margin: 7px 0 0 7px;
    }
  }
}


.article {

  &__header {
    height: 159px;
    text-align: center;
  }

  &__header-title {
    margin-top: 15px;
    @extend %fontPro;
    font-size: 32px;
    line-height: 38px;
    color: #DB343B;
  }

  &__header-subtitle {
    padding-top: 15px;
    @extend %fontRoboto;
    font-size: 16px;
    line-height: 22px;
    color: #292C32;
    margin: 0 auto;
    width: 590px;
  }


  &__packs {
    padding: 0 15px 0 15px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;


  }

  .card-img {
    height: 252px;
    max-width: 368.89px;
  }

  &__card-title {
    margin: 30px 0px 0px 30px;
    @extend %fontPro;
    font-size: 24px;
    line-height: 34px;
    color: #3A5F56;
  }

  &__card-text {
    margin: 6px 33px 26px 30px;
    @extend %fontRoboto;
    font-size: 16px;
    line-height: 22px;
    color: #3A5F56;
  }

  &__packs-item {
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 438px;
    width: 368.893px;
    margin: 0px -10px 0 -10px;

  }
}

.article-content {
  margin: 100px 0px 0px 0px;
}

.container-max-article {
  margin: 0 auto;
  width: 1440px;
  height: 790px;
  background: radial-gradient(50% 50% at 100% 100%, rgba(219, 52, 59, 0.296) 0%, rgba(219, 52, 59, 0) 100%);
}

.article-link {
  @extend %fontRoboto;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  &::after {
    position: absolute;
    display: inline-flex;
    background: url(../img/icon/Arrow.png) no-repeat;
    content: '';
    width: 20px;
    height: 11px;
    margin: 7px 0 0 7px;
  }

  a {
    color: #3A5F56;
  }

  &:hover,
  &:active {
    color: #3A5F56;
  }
}


.communication {

  &__content {
    margin: 0 auto;
    height: 260px;
    width: 800px;
    background: #F4F3F0;
    border-radius: 16px;
    display: flex;
    align-items: center;
  }

  &__text {
    margin: 0 0 0 80px;
    height: 101px;
    width: 313px;
    @extend %fontRoboto;
    font-size: 28px;
    line-height: 34px;
    color: #292C32;
  }

  &__button {
    margin: 0 0 0 202px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 125px;
    height: 58px;
    background: #3A5F56;
    border-radius: 6px;
    padding-top: 14px;

    .communication__link {
      @extend %fontRoboto;
      color: #FFFFFF;
    }
  }
}

.communication-container-max {
  display: flex;
  align-items: center;
  height: 460px;
  width: 1440px;
  margin: 0 auto;
  background: radial-gradient(50% 50% at 20% 100%, rgba(184, 125, 88, 0.35) 0%, rgba(184, 125, 88, 0) 100%);

}


.footer {
  padding: 100px 0;
  background-color: $black_color;
  width: 1440px;
  margin: 0 auto;

  &__logo {
    text-align: center;
    margin-bottom: 75px;
  }

  &__wrapper {
    display: flex;
  }

  &__column1,
  &__column2,
  &__column3 {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 16px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $brown_color;
    margin-bottom: 9px;

    &--mini {
      margin-bottom: 2px;
    }
  }

  &__list {
    margin-bottom: 15px;

    &--mini {
      margin-bottom: 0px;
    }
  }

  &__item {
    margin-bottom: 12px;

    a {
      color: $white;
      font-size: 16px;
      line-height: 22px;

      &:hover {
        text-decoration: underline solid $brown_color;
      }
    }
  }

  &__column4 {
    width: 458px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__text {
    width: 404px;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    margin-bottom: 6px;

    &--down {
      width: auto;
    }
  }

  &__form {
    position: relative;
    width: 100%;
  }

  &__email {
    background: #f9fafb;
    border: 5px solid #e5e7eb;
    border-radius: 8px;
    width: 100%;
    padding: 12px 120px 14px 25px;
    font-size: 16px;
    line-height: 22px;
    color: #ababab;

    &:focus {
      border: 5px solid $brown_color;
    }
  }

  &__submit {
    font-size: 16px;
    line-height: 22px;
    color: #fafafc;
    background-color: $black_color;
    border-radius: 10px;
    padding: 8px 10px 8px;
    position: absolute;
    top: 8px;
    right: 8px;

    &:hover {
      background-color: $brown_color;
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.social {
  &__link {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    :hover {
      filter: invert(62%) sepia(28%) saturate(719%) hue-rotate(340deg) brightness(81%) contrast(86%);
    }
  }

  &__img {
    width: 24px;
    height: 24px;
  }
}